@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<FFLMeetingRoomBookingApp.Web.Models.Entities.Booking>

<h1>Bookings</h1>
@if(@Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>BookingId</th>
                <th>Booking Date</th>
                <th>Meeting Room</th>
                <th>Number of People</th>
                <th>Meeting Duration</th>
                <th>Booked By</th>
                <th>Booked For</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var booking in Model)
            {
                <tr>
                    <td>@booking.BookingId</td>
                    <td>@booking.BookingDate</td>
                    <td>@booking.MeetingRoom</td>
                    <td>@booking.NumberOfPeople</td>
                    <td>@booking.MeetingDuration</td>
                    <td>@booking.BookedBy</td>
                    <td>@booking.BookedFor.Name</td>
                    <td>@booking.CreatedAt</td>
                    <td>@booking.UpdatedAt</td>
                    <td>
                        <a class="btn btn-primary" asp-controllers="Bookings" asp-action="UpdateBooking" asp-route-id="@booking.BookingId">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No bookings to display.</p>
}
<a class="btn btn-primary" asp-controller="Bookings" asp-action="AddBooking">Add Booking</a>